@import "D:/less/function.less";
@import "../../module/variable.less";
.li-sprite{.dis-ib;background:url(/static/image/sprite/li-sprite.png) no-repeat;}
.li-sprite-filter{background-position: 0px 0px;height:11px;padding-left:13px;margin-right: 7px;vertical-align: text-top;}
.li-filter-select .li-sprite-filter{background-position: -18px 0px;}
/*���񲼾�*/
.li-main-table{
  margin-top:10px;
  .li-bar{width:220px;box-sizing:border-box;.b(#e9e9e9);float:left;.pl(15);.pt(5);}
  .li-main{.pl(23);width:957px;float: left;}
}
/*ɸѡ*/
.li-filter{
  .b(#dfdfdf);
}
.li-filter-title{background-color: #f8f8f8;.bb(#dfdfdf);height:40px;line-height:40px;padding-left:15px;}
.li-filter-list{.pl(15);
  max-height:280px;overflow: hidden;.mt(10);}
.li-filter-lab{color:#000;cursor:pointer;
input[type="checkbox"]{.mr(5);vertical-align: text-top;}
}
.li-filter-lab:hover{color:#000;text-decoration: none;}
.li-filter-select{color:@main-font-color;}
.li-filter-select:hover{color:@main-font-color;}
/*�Ҳ�ͷ*/
.li-head{.bb(#dfdfdf);padding:5px 10px 8px 10px;
h1{font-size:16px;color:@dgray;font-weight:bold;}
}
.li-sort{.acolor(#6b6b6b);.b(#ddd);.dis-ib;.pr(20);.pl(20);min-width:54px;text-align: center;line-height:26px;font-size:12px;}
.li-sort:hover , .li-sort-active{.bc(#0099cc);.acolor(#fff);border:1px solid transparent;text-decoration: none;.pl(15);.pr(25);
  .li-sort-font{display:inline;
  }
}
.li-sort-font{
  font-size:12px;
  color:#fff;
  display:none;
  position:absolute;
}
/* goodlist*/
.li{
  &-item-title{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
  }
  &-row {
    .ml (-15);
  }
  &-col4{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    margin-top: 20px;
  }
  &-goods-title {
    .mt(15);
    font-size: 16px;
    font-weight: bold;
    .bb(#dadada);
    line-height: 250%;
  }
  &-item-img {
    display: block;
    height: 179px;
    text-align: center;
    box-sizing: border-box;
    padding: 19px;
    img {
      display: block;
      margin: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
  &-item-price {
    .mt(5);
    text-align: center;
    span{.dis-ib;.pl(26);background:url(/static/image/module/from.png) no-repeat ;position:absolute;margin-top: 9px;height:8px;
      margin-left: -28px;}
    strong {
      color: #ff6600;
      font-weight: normal;
      font-size: 16px;
    }
  }
  &-see {
    color: #0099cc;
  }
  &-see-all {
    .mt(3);
    .ml(3);
    text-decoration: underline;
  }
  &-sort-font {
    font-size: 12px;
    vertical-align: baseline;
    font-size: 12px;
    &:before {
      color: #fff;
    }
  }
}


.li-no-data{
  text-align: center;
  .mt(100);
  font-size: 16px;colro:@dgray;
}
.li-filter-item{.lh(19);}
.li-filter-item:hover{text-decoration: none;}
.li-filter-all{
  height: 37px;
  text-align: center;
  padding: 0px 15px;
  a{display: block;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
    font-weight: bold;
    color: #666;
    font-size: 12px;}
}
.li-filter-scroll{
  max-height: 440px;
  overflow-y: scroll;
}

//小方块
.li-piece-wrap{line-height:22px;.pb(12);
  strong {
    font-weight: bold;
    float: left;display: block;
    width: 60px;
  }
}
.li-piece-a {
  float: left;
  border-radius: 2px;
  .ml(10);
  .b(#dfdfdf);
  font-size: 14px;
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
.li-piece-sp{display:table-cell;padding:0 10px;text-align:center}
.li-piece-close {
  display:table-cell;
  width:26px;
  text-align:center;
  font-size: 14px;
  color:#f60;
  vertical-align:middle;
}
.li-piece-a:hover {
  text-decoration: none;
  border:1px solid #f60;
  color:#000;
  .li-piece-close{
    background-color:#f60;
    color:#fff;
  }
}

/*查询结果页的左边bar栏目*/
h2{.lh(30);font-weight: bold;}
.query{
  &-cat{.mb(5);}
  &-cat-second-item{text-indent:12px;.dis-b;.lh(19);.ft(14);color:#333;
    .query-cat-second-name{
      line-height: 1.1;
      display: inline-block;
      vertical-align: middle;
      text-indent: 0;
      width: 175px;
    }
  }
  &-sum-result{font-size:16px;color:@dgray;font-weight:bold;.pt(4);}
}
.li-filter-brand-more{
  display: inline-block;
  position: absolute;
  height: 400px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 5px;
  margin-left: 5px;
  margin-top: -390px;
  width: 200px;
  z-index: 1;
}