<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20} \(%line\) - %msg%ex%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="A1" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>logs/core.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/core.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20} - %msg%ex%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="stdout"/>
		<appender-ref ref="A1"/>
	</root>
	<logger name="noModule" level="ERROR"/>
	<logger name="ch.qos.logback" level="WARN"/>
	<logger name="org.springframework" level="ERROR"/>
	<logger name="freemarker" level="ERROR"/>
	<logger name="net.sf" level="ERROR"/>
	<logger name="org.apache.catalina" level="WARN"/>
	<logger name="org.apache.coyote" level="WARN"/>
	<logger name="org.apache.struts2" level="ERROR"/>
	<logger name="org.jboss.cache" level="ERROR"/>
	<logger name="com.opensymphony" level="ERROR"/>
	<logger name="org.hibernate" level="ERROR"/>
	<logger name="org.eclipse" level="TRACE"/>
	<logger name="org.terracotta" level="ERROR"/>
	<logger name="com.quartz" level="INFO"/>
	<logger name="net.spy.memcached" level="WARN"/>
	<logger name="redis.clients" level="WARN"/>
	<!--<logger name="com.buysou.cms.utils.uploadcheck" level="DEBUG">-->
	<!--<appender-ref ref="A2"/>-->
	<!--</logger>-->
	<logger name="hasoffer" level="DEBUG"/>
</configuration>
