@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.fi-serach:before { content: "\e602"; }
.fi-back:before { content: "\e60a"; }
.fi-right-point:before { content: "\e607"; }
.fi-left-point:before { content: "\e608"; }
.fi-down-triangle:before { content: "\e603"; }
.fi-left-triangle:before { content: "\e604"; }
.fi-right-triangle:before { content: "\e605"; }
.fi-up-triangle:before { content: "\e606"; }
.fi-house:before { content: "\e600"; }
.fi-close:before { content: "\e609"; }
.fi-arrow-up:before { content: "\e60b"; }
.fi-arrow-down:before { content: "\e601"; }
.fi-chevron-down:before { content: "\e60c"; }
.fi-chevron-left:before { content: "\e60d"; }
.fi-chevron-right:before { content: "\e60e"; }
.fi-chevron-up:before { content: "\e60f"; }
.fi-menu:before { content: "\e610"; }
