<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- URL映射 -->
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>static/index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-mvc.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <display-name>application_listener</display-name>
        <listener-class>hasoffer.webcommon.listener.ApplicationListener</listener-class>
    </listener>
    <listener>
        <display-name>session_listener</display-name>
        <listener-class>hasoffer.webcommon.listener.ServerSessionListener</listener-class>
    </listener>

    <listener>
        <display-name>web_listener</display-name>
        <listener-class>hasoffer.api.listener.ApplicationListener</listener-class>
    </listener>

    <filter>
        <description>ExceptionFilter</description>
        <display-name>ExceptionFilter</display-name>
        <filter-name>ExceptionFilter</filter-name>
        <filter-class>hasoffer.webcommon.filter.ExceptionFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
    </filter>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!-- 配置druid数据监控 -->
    <!--<filter>-->
        <!--<filter-name>DruidWebStatFilter</filter-name>-->
        <!--<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>exclusions</param-name>-->
            <!--<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>DruidWebStatFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- 配置 Druid 监控信息显示页面 -->
    <!--<servlet>-->
        <!--<servlet-name>DruidStatView</servlet-name>-->
        <!--<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>-->
        <!--<init-param>-->
            <!--&lt;!&ndash; 允许清空统计数据 &ndash;&gt;-->
            <!--<param-name>resetEnable</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--&lt;!&ndash; 用户名 &ndash;&gt;-->
            <!--<param-name>loginUsername</param-name>-->
            <!--<param-value>druidTest</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--&lt;!&ndash; 密码 &ndash;&gt;-->
            <!--<param-name>loginPassword</param-name>-->
            <!--<param-value>yingdu150B@zhichun.com</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DruidStatView</servlet-name>-->
        <!--<url-pattern>/druid/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <filter-mapping>
        <filter-name>ExceptionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>