#pager .pages {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
}

#pager .pages li {
    line-height: 16px;
    float: left;
    padding: 2px 5px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #cccccc;
    list-style-type: none;
}

#pager .pages li:hover {
    border: 1px solid #003f7e;
}

#pager .pages .pgEmpty {
    color: #cfcfcf;
    padding: 2px 5px;
    cursor: default;
    border: 1px solid #cfcfcf;
}

#pager .pages .pgCurrent {
    color: #00000;
    font-weight: bold;
    border: 1px solid #003f7e;
    background-color: #eeeeee;
}
